<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Fill Your Details</h1>
       
                <div id="app">FirstName :
                <input type="text" name="name" v-model="fname" reuqired/>
            <br/>
                    LastName:
                    <input type="text" name="name" v-model="lname" required/>
                    <br/>
                    <button  v-on:click="print">print</button>
    
                    <h3>Check your details</h3>
                   <span>First Name :</span> {{printfname}}<br/>
                   <span>Last Name :</span> {{printlname}}
              </div>
     
                   
              
        <script>
            var app=new Vue({
    el:'#app',
    data:{
        fname:'',
        lname:'',
        printfname:'',
        printlname:''
    }
    ,
    methods: {
        print:function(){
            this.printfname=this.fname.toUpperCase();
            this.printlname=this.lname.toUpperCase();
            this.fname='',
            this.lname=''
        }
    }
})
        </script>
    </body>
</html>